<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jo.jingou">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/__picker_provider_paths" />
        </provider>


        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentThemeForLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Login_Register_ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.ImproveInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.PayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.PayCallBackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AddressListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.MyOrderListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AccountSafeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.ChangeMyPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.ChangeMyPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.MyPurseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.FenhongDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.MyShareCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.OrderCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.EnchashmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AfterSalesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AddAfterSalesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AfterSalesListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AfterSalesDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.ProductListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.MyCreditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.MyCredit_DuihuanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.ImageListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AngelDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SelectCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.MessageCommonListActicity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.MessageBonusListActicity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.MyBussiness_SuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".activity.Agreement" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
         <!--<activity-->
         <!--android:name="com.jo.jingou.wxapi.WXPayEntryActivity"-->
         <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
         <!--android:exported="true"-->
         <!--android:screenOrientation="portrait"-->
         <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--<activity-->
            <!--android:name="com.umeng.socialize.editorpage.ShareActivity"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:theme="@style/Theme.UMDefault" />-->


        <!--  友盟分享及推送配置  -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5938e392310c930c5200021c" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2def4f95fb63c0510c1aa78259198410">

        </meta-data>

        <!--&lt;!&ndash;设置动态渠道变量&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="UMENG_CHANNEL"-->
            <!--android:value="${UMENG_CHANNEL_VALUE}" />-->


        <!-- 我的钱包 奖励详情  -Li -->
        <activity
            android:name=".activity.MyPurseRewardDetail"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity
            android:name=".activity.TransactionRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />
        <activity android:name=".activity.BankCardActivity">

        </activity>
        <activity
            android:name=".activity.CreateBankCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">

        </activity>
        <activity
            android:name=".activity.MyBusinessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">

        </activity>
        <activity
            android:name=".activity.WalletDesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">

        </activity>


    </application>

</manifest>
